DATABASE_URL =  ''

JWT_SECRET_KEY = ''

SUPABASE_URL = ''
SUPABASE_SERVICE_ROLE_KEY = ''
SUPABASE_BUCKET_NAME = ''

ALLOWED_MIME_TYPES = ' , , , '      # Comma Separated File Types
MAX_FILE_SIZE_BYTES = 1024 * 1024 * 0       # Converted Size of Files from (0)MB to Bytes

MAX_ACTIVE_DOCUMENTS = 0
MAX_BIN_DOCUMENTS = 0
RECYCLE_BIN_RETENTION_DAYS = 0

CHUNK_SIZE_TOKENS = 0
CHUNK_OVERLAP_TOKENS = 0

CHAT_TOP_K = 5
HYBRID_MODE_ENABLED = ''        # false/true

GROQ_API_KEY = ''
GROQ_MODEL_NAME = ''